<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>

<body>
<div id="map" style="width: 900px; height: 580px"></div>
<script>

    // Creating map options
    var mapOptions = {
        center: [53.89948, 27.55577],
        zoom: 10
    }
    var map = new L.map('map', mapOptions);    // Creating a map object

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer); // Adding layer to the map

    map.on("click", function (e) {
        new L.Marker([e.latlng.lat, e.latlng.lng]).addTo(map);

        var request = new XMLHttpRequest();
        request.open("POST", 'post_dot/', true);
        request.setRequestHeader("X-CSRFToken", 'csrftoken');
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var data = e.latlng
        request.send(data);


    })


</script>

<input type="button" value="Получить выбранные координаты" onClick='location.href="{% url 'get_dot' %}"'>

</body>

</html>